<app-ng-class>
</app-ng-class>
<app-ng-style>
</app-ng-style>
<app-ng-for-trackby>
</app-ng-for-trackby>

<div class="container">
    <h1>
        Custom attribute directive
    </h1>
    <p [appCustomAttributeDirective]="'red'">
        text
    </p>
</div>

<div class="container">
    <h1>
        Custom structural directives
    </h1>
    <button (click)="toggleText()" style="margin-bottom: 20px">
        Toggle Text Below
    </button>
    <p *appCustomStructuralDirective="show">
        Text inside custom directive applied tag
    </p>
    <div style="margin-bottom: 20px">
        <button appCustomToggleDirective>
            Click To Toggle
        </button>
    </div>
    <div style="margin-bottom: 20px">
        <button appCustomTooltipDirective="Here is Tip">
            Show Tip
        </button>
    </div>
</div>
