<h2>Template-drive forms</h2>
<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
  <p>
    <label for="firstName" class="mr-1">First Name</label>
    <input type="text" id="firstName" name="firstName" #fname="ngModel" ngModel>
  </p>
  <pre>Value: {{ fname.value }}</pre>
  <pre>valid: {{ fname.valid }}</pre>
  <pre>invalid: {{ fname.invalid }}</pre>
  <pre>touched: {{ fname.touched }}</pre>

  <p>
    <label for="lastName" class="mr-1">Last Name</label>
    <input type="text" id="lastName" name="lastName" ngModel>
  </p>

  <p>
    <label for="email" class="mr-1">Email </label>
    <input type="text" id="email" name="email" ngModel>
  </p>

  <p>
    <label for="male" class="mr-1">Male</label>
    <input type="radio" id="male" value="male" class="mr-1" name="gender" ngModel>
    <label for="female" class="mr-1">Female</label>
    <input type="radio" id="female" value="female" name="gender" ngModel>
  </p>

  <p>
    <label for="isMarried" class="mr-1">Married</label>
    <input type="checkbox" id="isMarried" name="isMarried" ngModel>
  </p>

  <select name="country" ngModel class="mb-2">
    <option [ngValue]="c.id" *ngFor="let c of countryList">
      {{c.name}}
    </option>
  </select>

  <div ngModelGroup="address">
    <p>
      <label for="city" class="mr-1">City</label>
      <input type="text" id="city" name="city" ngModel>
    </p>

    <p>
      <label for="street" class="mr-1">Street </label>
      <input type="text" id="street" name="street" ngModel>
    </p>

    <p>
      <label for="pincode" class="mr-1">Pin Code </label>
      <input type="text" id="pincode" name="pincode" ngModel>
    </p>
  </div>

  <p>
    <button type="submit" class="mr-1">Submit</button>
    <button type="submit" class="mr-1" (click)="setDefaults()">Set Defaults</button>
    <button type="submit" class="mr-1" (click)="patchValue()">Patch Value</button>
    <button type="submit" class="mr-1" (click)="changeAddress()">Change Address</button>
    <button type="button" (click)="reset()">Reset</button>
  </p>

  <pre>
    formValue:
    {{ contactForm.value | json }}
  </pre>
</form>
