<h2>Reactive(Model-driven) forms</h2>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <p>
    <label for="firstName" class="mr-1">First Name</label>
    <input type="text" id="firstName" name="firstName" formControlName="firstName">
  </p>

  <div
    *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
    class="mb-2"
  >
    <div [hidden]="!firstName.errors?.required">
      First Name is required
    </div>
    <div [hidden]="!firstName.errors?.minlength">
      Min Length is {{ firstName.errors?.minlength?.requiredLength }}
    </div>
    <div [hidden]="!firstName.errors?.maxlength">
      Max Length is {{ firstName.errors?.maxlength ?.requiredLength }}
    </div>
  </div>

  <p>
    <label for="lastName" class="mr-1">Last Name</label>
    <input type="text" id="lastName" name="lastName" formControlName="lastName">
  </p>

  <p>
    <label for="email" class="mr-1">Email </label>
    <input type="text" id="email" name="email" formControlName="email">
  </p>

  <div
    *ngIf="email.invalid && (email.dirty || email.touched)"
    class="mb-2"
  >
    <div [hidden]="!email.errors?.required">
      Email is required
    </div>
    <div [hidden]="!email.errors?.email">
      Invalid email
    </div>
  </div>

  <p>
    <label for="male" class="mr-1">Male</label>
    <input type="radio" id="male" value="male" class="mr-1" name="gender" formControlName="gender">
    <label for="female" class="mr-1">Female</label>
    <input type="radio" id="female" value="female" name="gender" formControlName="gender">
  </p>

  <div
    *ngIf="gender.invalid && (gender.dirty || gender.touched)"
    class="mb-2"
  >
    <div [hidden]="!gender.errors?.required">
      Gender is required
    </div>
  </div>

  <p>
    <label for="isMarried" class="mr-1">Married</label>
    <input type="checkbox" id="isMarried" name="isMarried" formControlName="isMarried">
  </p>

  <div *ngIf="!isMarried.valid && (isMarried.dirty ||isMarried.touched)">
    <div [hidden]="!isMarried.errors.required">
      isMarried is required
    </div>
  </div>

  <select name="country" class="mb-2" formControlName="country">
    <option [ngValue]="c.id" *ngFor="let c of countryList">
      {{c.name}}
    </option>
  </select>

  <div *ngIf="!country.valid && (country.dirty ||country.touched)">
    <div [hidden]="!country.errors.required">
      country is required
    </div>
  </div>

  <div formGroupName="address">
    <p>
      <label for="city" class="mr-1">City</label>
      <input type="text" id="city" name="city" formControlName="city">
    </p>

    <div *ngIf="!city.valid && (city.dirty ||city.touched)">
      <div [hidden]="!city.errors.required">
        city is required
      </div>
    </div>

    <p>
      <label for="street" class="mr-1">Street </label>
      <input type="text" id="street" name="street" formControlName="street">
    </p>

    <div *ngIf="!street.valid && (street.dirty ||street.touched)">
      <div [hidden]="!street.errors.required">
        street is required
      </div>
    </div>

    <p>
      <label for="pinCode" class="mr-1">Pin Code </label>
      <input type="text" id="pinCode" name="pinCode" formControlName="pinCode">
    </p>

    <div *ngIf="!pinCode.valid && (pinCode.dirty ||pinCode.touched)">
      <div [hidden]="!pinCode.errors.required">
        pinCode is required
      </div>
    </div>

  </div>
  <p>
    <button type="submit" class="mr-1">Submit</button>
    <button type="button" class="mr-1" (click)="setFirstNameWithOnlySelf()">Set firstName with onlySelf</button>
    <button type="button" class="mr-1" (click)="setFirstNameWithEmitEventFalse()">Set firstName with emitEvent false</button>
    <button type="button" class="mr-1" (click)="markFirstNameAsTouched()">Mark firstName as touched</button>
    <button type="button" class="mr-1" (click)="markFirstNameAsDirty()">Mark firstName as dirty</button>
    <button type="button" class="mr-1" (click)="markFirstNameAsPristine()">Mark firstName as pristine</button>
    <button type="button" class="mr-1" (click)="markFirstNameAsPending()">Mark firstName as pending</button>
    <button type="button" class="mr-1" (click)="disableFirstName()">Disable firstName</button>
    <button type="button" class="mr-1" (click)="enableFirstName()">Enable firstName</button>
    <button type="button" class="mr-1" (click)="updateValueAndValidityOfFirstName()">UpdateValueAndValidity of firstName</button>
    <button type="button" class="mr-1" (click)="updateValueAndValidityOfForm()">UpdateValueAndValidity of form</button>
    <button type="button" class="mr-1" (click)="setFirstNameValidators()">Set validators firstName</button>
    <button type="button" class="mr-1" (click)="clearFirstNameValidators()">Clear validators firstName</button>
    <button type="button" class="mr-1" (click)="getFirstNameErrors()">Get firstName errors</button>
    <button type="button" class="mr-1" (click)="getFirstNameError()">Get firstName error</button>
    <button type="button" class="mr-1" (click)="hasFirstNameError()">Has firstName error</button>
  </p>

  <pre>
<!--    formValue:-->
    {{ contactForm.value | json }}
  </pre>
</form>

