<swiper
  [slidesPerView]="1"
  [spaceBetween]="10"
  (swiper)="onSwiper($event)"
  [pagination]="{ clickable: true }"
  (slideChange)="onSlideChange()"
>
  <ng-template swiperSlide>
    <div>
      <img src="assets/images/gold.png" alt="1">
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div>
      <img src="assets/images/karta.png" alt="1">
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div>
      <img src="assets/images/korona.png" alt="1">
    </div>
  </ng-template>
</swiper>