<div>Some tags before</div>
<div
  class="container"
>
<!--  style="max-width: 434px; margin: 0 auto;"-->
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <h1>Slide 1</h1>
      <img src="assets/images/gold.png" alt="1">
    </ng-template>
    <ng-template carouselSlide>
      <h1>Slide 2</h1>
      <img src="assets/images/karta.png" alt="1">
    </ng-template>
    <ng-template carouselSlide>
      <h1>Slide 3</h1>
      <img src="assets/images/korona.png" alt="1">
    </ng-template>
  </owl-carousel-o>
</div>
