/* You can add global styles to this file, and also import other style files */
@import '~swiper/swiper-bundle';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

h1 {
    margin-bottom: 20px;
}

.container {
    max-width: 1300px;
    margin: 0 auto
}