/* You can add global styles to this file, and also import other style files */
@import '~swiper/swiper-bundle';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

h1 {
    margin-bottom: 20px;
}

.container {
    max-width: 1300px;
    margin: 0 auto
}

.red {
    color: red;
}

.tooltip {
    position: absolute;
    max-width: 150px;
    font-size: 14px;
    text-align: center;
    color: #f8f8f2;
    padding: 3px 8px;
    background: #282a36;
    border-radius: 4px;
    z-index: 1000;
    opacity: 0;
}

.tooltip-show {
    opacity: 1;
}